flows.json
[
    {
        "id": "4feb063319c0b77a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55b78917f4f22b50",
        "type": "inject",
        "z": "4feb063319c0b77a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "3b53f7c7cb0dabcf"
            ]
        ]
    },
    {
        "id": "fc41fec8cb3781bc",
        "type": "status",
        "z": "4feb063319c0b77a",
        "name": "",
        "scope": null,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "8901a0f88e4aab1a"
            ]
        ]
    },
    {
        "id": "3b53f7c7cb0dabcf",
        "type": "change",
        "z": "4feb063319c0b77a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8901a0f88e4aab1a",
        "type": "batch",
        "z": "4feb063319c0b77a",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "bf4af6a0eb954965"
            ]
        ]
    },
    {
        "id": "bf4af6a0eb954965",
        "type": "function",
        "z": "4feb063319c0b77a",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            []
        ]
    }
]